on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule: [cron: "40 1 * * *"]

name: Check MSRV of librarium
jobs:
  build-test-cpio:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        toolchain:
            # msrv of cpio
          - 1.85

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Populate cache
        uses: ./.github/workflows/cache

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo check --locked -p librarium

  build-test-librarium-cli:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        toolchain:
            # msrv of librarium-cli
          - 1.85

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Populate cache
        uses: ./.github/workflows/cache

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo check --locked -p librarium-cli
